{% extends "base.html" %}

{% block head %}
<script defer src="/static/scripts/register/autofill.js"></script>
{% endblock head %}

{% block body %}
<article>
    <form action="/auth/register" method="post">
        {% csrf_token %}
        <header>
            <h1>Register</h1>
        </header>
        <section>
            <div class="inputbox">
                <input type="text" name="username" id="username" maxlength="64" placeholder=" " oninput="usernameInput(this)" required>
                <label for="username">Username:</label>
            </div>
            <div class="inputbox inputUserID">
                <input type="text" name="user_id" id="user_id" maxlength="16" placeholder=" " pattern="(([a-z]?[0-9]?)+_?)+" required>
                <label for="user_id">User ID:</label>
            </div>
            <div class="inputbox">
                <input type="password" name="password" id="password" placeholder=" " required>
                <label for="password">Password:</label>
            </div>
            <div class="inputbox">
                <input type="password" name="confirm_password" id="confirm_password" placeholder=" " required>
                <label for="confirm_password">Confirm Password:</label>
            </div>
            {% if error %}
            <span class="error">
                {% autoescape off %}
                {{ error }}
                {% endautoescape %}
            </span>
            {% endif %}
            <div>
                <span class="space"></span>
                <a class="button red single" href="/">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="currentColor" class="eyecons">
                        <path d="m12.293 13.707c0.39174 0.39174 1.0223 0.39174 1.4141 0s0.39174-1.0223 0-1.4141l-4.293-4.293 4.293-4.293c0.39174-0.39174 0.39174-1.0223 0-1.4141-0.39174-0.39174-1.0223-0.39174-1.4141 0l-4.293 4.293-4.293-4.293c-0.39174-0.39174-1.0223-0.39174-1.4141 0s-0.39174 1.0223 0 1.4141l4.293 4.293-4.293 4.293c-0.39174 0.39174-0.39174 1.0223 0 1.4141 0.39174 0.39174 1.0223 0.39174 1.4141 0l4.293-4.293z" />
                    </svg>
                </a>
                <button class="button green" type="submit">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16" fill="currentColor" class="eyecons">
                        <path d="m13 3.5a1 1 0 0 0-0.70703 0.29297l-6.293 6.293-2.293-2.293a1 1 0 0 0-1.4141 0 1 1 0 0 0 0 1.4141l3.707 3.707 7.707-7.707a1 1 0 0 0 0-1.4141 1 1 0 0 0-0.70703-0.29297z" />
                    </svg>
                    <span>Register</span>
                </button>
            </div>
        </section>
    </form>
</article>
{% endblock body %}
