{% extends "base.html" %}

{% block head %}
<script defer src="/static/scripts/feed.js"></script>
{% endblock head %}

{% block body %}

{% if user %}
<article class="feed_collection">
    <header>
        <h1>You may be interested in answering:</h1>
    </header>
    {% for question in questions %}
        <section class="collection_item">
            <span>By @{{ question.user_id }}</span>
            <h1><a href="/browse/question/{{ question.question_id }}">{{ question.snippet }}</a></h1>
            <h2>From {{ question.topic.name }}</h2>
        </section>
    {% endfor %}
</article>
{% endif %}
{% endblock body %}
